<li class="topics-list__item topics-list__item--<%= variation %>">
  <a href="" class="topics-list__item-link">
    <div class="topics-list__item-thumbnail">
      <% if (variation === 'primary') { %>
      <div class="thumbnail thumbnail--small">
        <span style="background-image: url('https://picsum.photos/361/149')"></span>
      </div>
      <% } else { %>
        <img src="https://picsum.photos/58/58" alt="">
      <% } %>
    </div>
    <div class="topics-list__item-text">
      <div class="topics-list__item-text-inner">
        <div class="topics-list__item-title">タイトル1</div>
        <div class="topics-list__item-sub">
          <div class="topics-list__item-comment"></div>
          <time class="topics-list__item-date" datetime="2019-04-14T03:36:53.000Z">4/14(日) 12:26</time>
          <div class="label label--new"></div>
        </div>
      </div>
    </div>
  </a>
</li>