<li class="topics-list__item topics-list__item--<%= variation %>">
  <a href="" class="topics-list__item-link">
    <div class="topics-list__item-thumbnail">
      <% if (variation === 'primary') { %>
        <span class="topics-list__item-thumbnail-main-image" style="background-image: url('https://picsum.photos/361/149')"></span>
      <% } else { %>
        <div class="thumbnail thumbnail--small">
          <img src="https://picsum.photos/321/321" alt="">
        </div>
      <% } %>
    </div>
    <div class="topics-list__item-text">
      <div class="topics-list__item-text-inner">
        <div class="topics-list__item-title"><%= topic.title %></div>
        <div class="topics-list__item-sub">
          <div class="topics-list__item-comment" aria-label="コメント369件">369</div>
          <time class="topics-list__item-date" datetime="2019-04-14T03:36:53.000Z">4/14(日) 12:26</time>
          <% if (topic.new) { %>
          <div class="label label--new">NEW</div>
          <% } %>
        </div>
      </div>
    </div>
  </a>
</li>