<%
const topics = [
  {title: 'タイトル1'},
  {title: 'タイトル2', new:true},
  {title: 'タイトル3', new:true},
  {title: 'タイトル4'},
  {title: 'タイトル5'},
  {title: 'タイトル6', new:true},
  {title: 'タイトル7'},
  {title: 'タイトル8'},
  {title: 'タイトル9'},
  {title: 'タイトル10'},
];
%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topics">
    <ul class="topics-list">
      <% topics.forEach((topic, index)=> {%>
        <% if(index === 0) { %>
          <%- include('_topic-item', {variation:'primary', topic: topic}) %>
        <% }else{ %>
          <%- include('_topic-item', {variation:'normal' , topic: topic}) %>
        <% } %>
      <% }) %>
    </ul>
  </div>
</body>

</html>